.jwMessage.ng-enter {
    -webkit-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    -moz-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    -ms-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    -o-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    position: relative;
    opacity: 0;
}

.jwMessage.ng-leave {
    -webkit-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    -moz-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    -ms-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    -o-transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    transition: 900ms cubic-bezier(0.755, 0.050, 0.855, 0.060) all;
    opacity: 1;
}

.jwMessage.ng-leave-active {
   opacity: 0;
}

.jwMessage.ng-enter-active {
   opacity: 1;
}

.messageContainer{
    overflow: hidden;
    width: 100%;
}



.viewContainer.ng-enter {
    -webkit-transition: 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -moz-transition: 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -ms-transition: 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    -o-transition: 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    transition: 950ms cubic-bezier(0.190, 1.000, 0.220, 1.000) all;
    position: relative;
    left:100%;
    opacity: 0.2;
}

.viewContainer.ng-enter.ng-enter-active {
    opacity: 1;
    left:0;
}
.container{
    overflow: hidden;
}