<div class="page-header">
    <h1>Message Test:</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="body" class="col-sm-3 control-label">Body:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="body" placeholder="Message Body"
                           ng-model="message.body">
                </div>
            </div>

            <div class="form-group">
                <label for="type" class="col-sm-3 control-label">Type:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="type" placeholder="Message Type"
                           ng-model="message.type">
                </div>
            </div>

            <div class="form-group">
                <label for="timer" class="col-sm-3 control-label">Timer:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="timer" placeholder="Message Timer"
                           ng-model="message.timer">

                    <p class="small">Timer is in milliseconds</p>
                </div>
            </div>

            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">ID:</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="id" placeholder="Message location ID"
                           ng-model="message.id">

                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="btn btn-primary" ng-click="addMessage()">Add message</div>
                </div>
            </div>

        </div>
    </div>
</div>


<hr/>
<div class="btn btn-primary" ng-click="clearMessages()">Clear All Messages</div>
<div class="btn btn-primary" ng-click="clearMessages('testBox1')">Clear testBox1 Messages</div>
<div class="btn btn-primary" ng-click="clearMessages('testBox2')">Clear testBox2 Messages</div>
<div class="btn btn-primary" ng-click="addTestMessages()">Add Test Messages</div>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>This message box has no location ID so it will only show ALL messages</h3>

            <div class="well">
                <jw-messenger></jw-messenger>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>This message box has a location ID of "testBox1" so it will only show messages with that id.</h3>

            <div class="well">
                <jw-messenger location-id="testBox1"></jw-messenger>
            </div>
        </div>
        <div class="col-md-6">
            <h3>This message box has a location ID of "testBox2" so it will only show messages with that id.</h3>

            <div class="well">
                <jw-messenger location-id="testBox2"></jw-messenger>
            </div>
        </div>
    </div>
</div>