<div class="page-header">
    <h1>Welcome to the JwMessaging Test Application.</h1>
</div>
<p>This is a simple test for the Jw Messaging service.</p>

<a href="#/messageTest">
    <div class="btn btn-primary">Begin</div>
</a>
